.venv/

__pycache__/
*.pyc

.idea/
.ipynb_checkpoints/

.env

# Ignore raw data files
data/raw/*.csv
data/raw/*.xlsx

# Keep raw data directory
!data/raw/.gitkeep

# Processed data
data/processed/*.csv

# Generated SQLite database
database/*.db

tools/sqlite/

desktop.ini